
path {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .5px;
}

path:hover {
  fill: red;
}

.bubble {
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
  z-index: 99;
}
.bubble:hover {
	fill: red;
}
